@import url('https://rsms.me/inter/inter.css');
html body { 
  font-family: 'Inter', sans-serif !important;
}

@supports (font-variation-settings: normal) {
  html body { font-family: 'Inter var', sans-serif !important; }
}

.navigation .logo {
  color: #000;
  line-height: 1.4em;
  font-weight: 700;
}

/* Navigation */
.navigation ul {
  line-height: 1.6em;
  list-style: none;
  padding-left: 15px;
}

.navigation a {
  color: #1f1f1f;
  font-size: 16px;
  font-weight: 500;
}

.navigation .current a {
  color: #a3a3a3;
}

/* Gallery CSS */
.gallery {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%; 
}

.gallery .pics {
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease; 
}
.gallery .animation {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); 
}

@media (max-width: 450px) {
  .gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
  }
}
