{% comment %}
	The default layout for the site, which is extended by all other layouts.
	Includes the document <head>, main navigation and page footer
{% endcomment %}

{% include head.html %}

<!-- {% include hero.html %} -->

{% comment %}
	Any layout that extends this layout will have its contents
	added as the content variable
{% endcomment %}

<div class="container-fluid mt-5">
	<div class="row">
		<div class="col-2">
			{% include nav.html %}
		</div>

		<div class="col-10">
			{{ content }}
		</div>
	</div>
</div>
